<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCl3ozUCdR6GIp-ahJnh2iCRKlL73DnyHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1077963122629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chillax.client</string>
	<key>PROJECT_ID</key>
	<string>chillax-b6289</string>
	<key>STORAGE_BUCKET</key>
	<string>chillax-b6289.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>CLIENT_ID</key>
	<string>781709613952-httld2g1b0bd08v61l6gb0206tp7j5to.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781709613952-httld2g1b0bd08v61l6gb0206tp7j5to</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077963122629:ios:6bfb2ca40ad7161b924dac</string>
</dict>
</plist>