name: Toggle Keycloak Access

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Enable or disable Keycloak admin console access'
        required: true
        type: choice
        options:
          - enable
          - disable

jobs:
  toggle:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Toggle Keycloak admin access
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            ACTION="${{ github.event.inputs.action }}"
            CONTAINER="chillax-keycloak-1"

            docker exec $CONTAINER /opt/keycloak/bin/kcadm.sh config credentials \
              --server http://localhost:8080 --realm master --user admin --password admin

            if [ "$ACTION" = "enable" ]; then
              docker exec $CONTAINER /opt/keycloak/bin/kcadm.sh update realms/master -s sslRequired=NONE
              echo "Keycloak admin console enabled at http://${{ secrets.SERVER_HOST }}:8080/admin/"
            else
              docker exec $CONTAINER /opt/keycloak/bin/kcadm.sh update realms/master -s sslRequired=EXTERNAL
              echo "Keycloak admin console disabled (HTTPS required)."
            fi
