name: Chillax Pull Request Validation

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET (global.json)
        uses: actions/setup-dotnet@v3
      - name: Build
        run: dotnet build Chillax.Web.slnf
      - name: Test
        run: dotnet test --solution Chillax.Web.slnf --no-build --no-progress --output detailed
